@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1647705928954') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shujuzonglan:before {
  content: "\e622";
}

.icon-tongzhiguanli:before {
  content: "\e668";
}

.icon-baobiaoguanli:before {
  content: "\e61d";
}

.icon-qingjia:before {
  content: "\e539";
}

.icon-yuangong:before {
  content: "\e6ac";
}

.icon-shenpiguanli:before {
  content: "\e631";
}

.icon-drxx37:before {
  content: "\e70d";
}

.icon-drxx16:before {
  content: "\e713";
}

.icon-jibenziliao:before {
  content: "\e61f";
}

.icon-shenqingguanli:before {
  content: "\e616";
}

.icon-bumen:before {
  content: "\e62e";
}

.icon-quanxianguanli:before {
  content: "\e61e";
}

.icon-tongzhi:before {
  content: "\e64c";
}

.icon-xitongguanliyuanguanli:before {
  content: "\e60f";
}

.icon-qingjiashenpiliucheng:before {
  content: "\e653";
}

.icon-jiaozhigongqingjiashenpidanqita:before {
  content: "\e66b";
}

.icon-zhiweiguanli:before {
  content: "\e63c";
}

.icon-jiekouguanli:before {
  content: "\e623";
}

.icon-zonglan:before {
  content: "\e7b9";
}

.icon-yuangongguanli:before {
  content: "\e619";
}

.icon-bumenguanli:before {
  content: "\e608";
}

.icon-caidanguanli:before {
  content: "\e658";
}

.icon-qingjiashenqing:before {
  content: "\e6aa";
}

.icon-shouye:before {
  content: "\e601";
}

.icon-danjuzhuanhuan:before {
  content: "\e7d2";
}

.icon-jiaoseguanli:before {
  content: "\e64a";
}

.icon-dengjiguanli:before {
  content: "\e654";
}

.icon-fangwenliang:before {
  content: "\e703";
}

.icon-gerenzhongxin:before {
  content: "\e6a4";
}

.icon-xinziguanli:before {
  content: "\ea4a";
}

.icon-zhangtaoguanli:before {
  content: "\e618";
}

.icon-a-shujuzonglan2x:before {
  content: "\e603";
}

